*{
 transition: all .5s;
 }


:root{
    background-image: url(../images/nightsky.jpeg);
background-size: cover;
}


.title.top-title{
    color: whitesmoke;
    
}
.column.is-three-fifths.is-offset-one-fifth{
    display: flex;
 justify-content: center;
 align-items: center;
   background-color: #483475;
    margin-top: 40px;
    flex-direction: column;
    
    
}

.movie-box{
    background-color: darkgray;
    display: flex;
     border: 2px solid black;
     width:fit-content;
     margin-top: 30px;
     height: 100%;
     background-color: #141852;
     color: whitesmoke;
     justify-content: center;
     align-items: center;
     
;
}

.movie-results{
    padding: 10px;
    border: white 1px solid;
    padding-left: 40px;
}

button.is-responsive {
    color: whitesmoke;
    background: darkblue;
}


footer ul li a img {
    width: 25px;
    height: 25px;

  }
  
  .gotopbtn {
    position: fixed;
    width: 30px;
    height: 30px;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;
  }

  .main-footer{
display: inline-flex;
  }