*{
 transition: all .5s;
display: grid;
 justify-content: center;
 align-items: center;
 grid-template-areas: 
 "head head"
 "main aside"
 "foot foot";
   
 }

:root{
    background-image: url(../images/nightsky.jpeg);
background-size: cover;
}


.title.top-title{
    color: whitesmoke;
}
.container.main-header {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 150px;
   background-color: #483475;
    margin-top: 50px;
    grid-area: head;


    
   
}

.movie-box{
    background-color: darkgray;
    display: none;
    /* grid-template-areas: 
    "a a a a b b b"
    "c c c c b b b"
    "d d d d b b b"
    "e e e e b b b "
    "f f f f b b b" ; */
    grid-area: main;
     border: 2px solid black;
     width: 100%;
     margin-top: 50px;
     height: 100%;
     background-color: #141852;
     color: whitesmoke;

}

.movie-results{
    padding: 10px;
    border: white 1px solid;
}
.movieposter{
    grid-area: "b";
    
}
.movie-box-title{
    grid-area: a;
}
 .movie-box-releasedate{
    grid-area: c;
 } 
 .movie-box-runtime{
    grid-area: d;
 } 
 .movie-box-maincast{
    grid-area: e;
 }

.movie-box-synopsis {
   grid-area: f;


}
button.is-responsive {
    color: whitesmoke;
    background: darkblue;
}
.trailer{
    display: grid;
    grid-area: aside;
    border: 2px solid black;
}

footer ul li a img {
    width: 25px;
    height: 25px;
  }
  .gotopbtn {
    position: fixed;
    width: 30px;
    height: 30px;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;
  }
